body{background-image: url("imagem\ de\ fundo.png");
    background-color: black;
    color:white;
    background-attachment: scroll;
    text-align: center;
    orientation:auto;
    grid: 0;
}

ul{
    list-style-position: inside;
    text-align: center;
    color:white
}

ol{
    list-style:none;
}

a{
    color: rgb(88, 226, 54);
}

form{
    display: inline-block;
    text-align: right;
}

s{
    visibility: hidden;
}

figcaption{
    visibility: hidden;
}

n{
    display: inline-block;
    text-align: left;
}

table{
    border: white solid;
	width: 550px;
	padding: 0px;
	font-size: 25px;
	border-collapse: collapse;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}
